*.elc
*.*~
.last-package-update-day
.recentf
.smex-items
archive-contents
auto-save-list
backups
eln-cache
elpa
eshell
ido.last
melpa-stable
places
projectile-bookmarks.eld
projectile.cache
projects
tramp
transient
