*.*~
*.elc
.last-package-update-day
.org-id-locations
.recentf
.smex-items
archive-contents
auto-save-list
backups
bookmarks
custom.el
eln-cache
elpa
eshell
forge-database.sqlite
ido.last
image-dired
melpa-stable
org-roam.db
places
projectile-bookmarks.eld
projectile.cache
projects
tramp
transient
